<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Feeds - {{ title }}</title>
    {% else %}
        <title>Feeds</title>
    {% endif %}
</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="\">Blogify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('home') }}">Feeds</a>
            <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('new_post') }}">New Post</a>
              <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Sign Out</a>
            {% else %}
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Sign In</a>
              <a class="nav-item nav-link" href="{{ url_for('register') }}">Sign Up</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
    </div>
    <h1>About</h1>
    <p></p>
    <h2 style="text-align: left;">Hi, I’m Vivek Kumar Singh</h2>
    <p style= "font-size: 18px; text-align: left;">
      Vivek is a college student currently pursuing B-Tech in Computer Science and Engineering at SRM Institute of Science And Technology.
      Everyday he dreams & works towards empowering people with skills for easy and effortless learning which will enable them to manage their time.
    </p>

    <p style= "font-size: 18px;">
      He strongly believes that healthy relationship resides on having sound health and mind as a result he worksou daily and maintains a healthy lifestyle.
      He came up with Blogify on October 10, 2019 and today, Blogify has been helping people finding a blogging platform, A web-app that gives the world a credible and confident 'DIY'
      solutions for everyday blogging. The website empowers people to blog posts easily from anywhere.
      It has many users using the website enhanced with rich content like travel, food, health, fitness, and much more blog contents.
    </p>
    <p style= "font-size: 18px; text-align: left;">
      Over the years she has been interacting with users via Facebook, Instagram, LinkedIn and WhatsApp. All these channels have inspired him to start working towars welfare of society and lead a healthy lifestyle.
      From being an inspiration for the students of SRM, and much more - all just makes him believe that what he has been doing till today is all just worth it.
    </p>
    <p style= "font-size: 18px; text-align: left;">
      He wants to thank everyone for being a part of his journey.
    </p>
    <h3 style="text-align: center;">
      Feel free to connect with me on
      <p></p>
      <a style="text-align: left;" target="_blank" href="https://www.linkedin.com/in/vivek-kumar-singh-b088a9157">LinkedIn</a>
      <p></p>
      <a style="text-align: left;" target="_blank" href="https://www.instagram.com/rogerthat_vivek/">Instagram</a>
      <p></p>
      <a style="text-align: left;" target="_blank" href="https://www.facebook.com/viveksingh8991">Facebook</a>
      <p></p>
      <p></p>Good Times Ahead!
    </h3>
  </main>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </html>
